:root {
  --shadow-config: 0 0 5px;
  --text-color: #c8c8c8;
  --nano-color: #bbbbbb;
  --dark-color: black;
  --red-color: #fe79ad;
  --green-color: #64aa59;
  --blue-color: #534f80;
}
body {
  text-shadow: var(--shadow-config) var(--text-color);
  background-color: black;
  background-image: radial-gradient(#00960020, black 120%);
  padding: 0%;
  margin: 0px;
  font-family: "Inconsolata", monospace;
  scrollbar-width: none;
}
.error-div {
  width: 100%;
  height: 100vh;
  vertical-align: middle;
  text-align: center;
}

.error-text {
  vertical-align: middle;
  text-align: center;
  font-size: 100px;
}
#backdiv {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background: repeating-linear-gradient(
    0deg,
    #000000 15%,
    #000000 15%,
    #0000 1px,
    #ffffff0a 15.5%
  );
}
#line-count {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#line-count div {
  text-shadow: var(--shadow-config) #000000;
  box-shadow: var(--shadow-config) var(--nano-color);
  background-color: var(--nano-color);
  color: var(--dark-color);
  text-align: center;
  display: table;
}
h1,
h2,
h3 {
  margin: 0px;
}

h2 {
  margin-left: 40px;
}
h3 {
  margin-left: 80px;
}
.header {
  padding: 1px 5px;
  opacity: 0.8;
  background-color: var(--nano-color);
  display: flex;
  flex-wrap: wrap;
  text-shadow: var(--shadow-config) #000000;
  box-shadow: var(--shadow-config) var(--nano-color);
  justify-content: space-between;
  align-content: space-between;
}
.header .version {
  display: inline-block;
  text-align: left;
}
.header .file {
  text-align: center;
  display: inline-block;
}
html {
  min-height: 100%;
}
.footer {
  flex-shrink: 0;
}
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  overflow: hidden;
}
.slideout {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: 3;
  animation-direction: alternate;
}

@keyframes slideout {
  from {
    bottom: 0px;
  }

  to {
    bottom: 500px;
  }
}
.content {
  color: white;
  padding-top: 10px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}
a,
.bluespan {
  color: var(--blue-color);
  text-shadow: var(--shadow-config) var(--blue-color);
  text-decoration: none;
}
.greenspan {
  color: var(--green-color);
  text-shadow: var(--shadow-config) var(--green-color);
}
.redspan {
  color: var(--red-color);
  text-shadow: var(--shadow-config) var(--red-color);
}
#commands-list {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
#commands-list table {
  border-spacing: 3em 1em;
  table-layout: fixed;
  overflow: hidden;
}
#commands-list tr td {
  background-color: transparent;
  color: white;
}
#commands-list tr td span {
  background-color: var(--nano-color);
  color: var(--dark-color);
  text-shadow: var(--shadow-config) var(--dark-color);
  box-shadow: var(--shadow-config) var(--nano-color);
}
.content-div {
  border-style: solid;
  border-color: var(--text-color);
  margin-left: 10px;
  margin-right: 10px;
  padding: 0px;
  height: 55%;
  box-shadow: var(--shadow-config) var(--text-color),
    var(--shadow-config) var(--text-color);
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #ff0000;
}
.content-navbar div {
  background-color: transparent;
  color: var(--nano-color);
  box-shadow: var(--shadow-config) var(--text-color),
    inset var(--shadow-config) var(--text-color);
  text-shadow: var(--shadow-config) var(--nano-color);
  cursor: pointer;
  text-align: center;
  width: 125px;
  border: var(--nano-color) solid;
  display: inline-block;
  margin: 0px;
  margin-right: -11px;
}
.content-navbar h3,
.content-navbar h2,
.content-navbar h1 {
  margin: 0px;
}
.content-navbar .checked {
  background-color: var(--nano-color);
  color: var(--dark-color);
  text-shadow: var(--shadow-config) #000000;
  box-shadow: var(--shadow-config) var(--nano-color);
}
.content-navbar {
  text-align: left;
  justify-content: left;
  display: inline-block;
  margin: 0px;
}
.content-body {
  max-height: 84%;
  overflow-y: scroll;
  scrollbar-width: none;
}
.content-body .selected {
  display: block;
}
.content-body div {
  display: none;
}
